{% extends "price/base.html" %}

{% block head %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/search_position.css' %}">
{% endblock %}

{% block title %}Search{% endblock %}

{% block body %}

<form method="get">
    <input type="text" name="search">
    <input type="submit" value="Ok">
    {{ search }}
    <table>
        <tr>
            <th class="name">Наименование</th>
            <th class="cost">Цена с НДС</th>
            <th class="price">Прайс</th>
        </tr>
        {% for position in price %}
        <tr>
            <td class="name">{{ position.0 }}</td>
            <td class="cost">{{ position.1 }}</td>
            <td class="price">{{ position.2 }}</td>
        </tr>
        {% endfor %}
    </table>
</form>

{% endblock %}