<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="{% static 'sitevatra/css/index.css' %}">
    <script type="text/javascript" src="{% static 'sitevatra/js/jquery-3.2.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'sitevatra/js/index.js' %}"></script>
    <script type="text/javascript" src="{% static 'sitevatra/js/slider.js' %}"></script>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block body%}

{% endblock %}
</body>
</html>